.about-section {
    background-color: #F4F1E9;

    text-align: center;
    position: relative; 
  }
  
  .about-section {
    h2 {
      font-size: 34px;
      margin-bottom: 10px;
      text-align: left;
      margin-left: 70px;
    }
    p {
     font-size: 18px;
     text-align: center;
     padding: 60px;
     margin-left: 100px;
     margin-right:100px;
   }
   
   h4 {
     font-size: 34px;
     margin-bottom: 20px;
     position: absolute; 
     top: 0; 
     right: 0; 
     margin-right: 90px;
   }
   
  }
  .voir-button{
    color: white;
  }
  .about-title{
    margin-top: 100Px;
    font-size: 40px;
    font-style: italic;
    
   }