.about-section {
    background-color: #F4F1E9;
height: 500px;
    text-align: center;
    position: relative; 
  }
  
  .about-section {
    h2 {
      font-size: 25px;
      margin-bottom: 10px;
      text-align: left;
      margin-left: 70px;
      
    }
    p {
      font-size: 20px;
      text-align: center;

      margin-left: 100px;
      margin-right: 100px;
      font-family: "Lato",sans-serif;
    
      margin-bottom: 30px;
      margin-top: 30px;

   }
   
   h4 {
    font-size: 25px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 68px;
     
   }
   
  }
  .voir-button{
    color: white;
  }
  .about-title{
    margin-top: 100Px;
    font-size: 50px;
    font-family: "Playfair Display Regular", serif;
    
   }

@keyframes slideInLeft {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-section h2,
.about-section h4 {
  animation: slideInLeft 1s ease-in-out;
}

@media (max-width: 768px) {
  .about-section {
    height: auto; 
    padding: 30px; 
  }

  .about-section h2 {
    position: absolute;
    right: 285px;
    font-size: 11px;
    margin-top: 17px;

  }

  .about-section p {
    font-size: 18px; 
    text-align: center; 
    margin-left: 10px; 
    margin-right: 10px; 
  }

  .about-section h4 {
    font-size: 11px;
    margin-right: 6px;
    margin-top: 48px;
  }

  .about-title {
    font-size: 36px; 
    text-align: center; 
  }
}