.about-section {
    background-color: #F4F1E9;
    padding: 40px;
    text-align: center;
    position: relative; 
  }
  
  .about-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .about-section p {
    font-size: 18px;
  }
  
  .about-section h4 {
    font-size: 28px;
    margin-bottom: 20px;
    position: absolute; 
    top: 0; 
    right: 0; 
  }
  