.container-about {
    display: flex;
    align-items: center;
    padding: 40px;
  }
  
  .image-about-2 img {
    width: 28%;
   
  }
  
  .text2 {
    font-size: 16px;
    color: white;
   
  }
  .black-about-image{
    filter: brightness(25%);

  }