
  .footer {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  .imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
   

  }
  .footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    height: 165px;
}
  
  
  .imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    width: 30px; 
    margin: 10px; 
  }
  
  .textFooter {
    margin-bottom: 10px; 
  }
  
  