
  .footer {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  .imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
   

  }
  .footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    height: 200px;
}
  
  
  .imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    width: 6%; 
    margin: 10px; 
  }
  
  .textFooter {
    margin-bottom: 10px; 
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      padding: 21px;
    height: 130px;
    }
  
    .imagesContainer {
      justify-content: space-around; 
    }
  
    .footer img {
      width: 12%; 
      max-width: 30px; 
      margin: 5px; 
    }
  
    .textFooter {
      font-size: 14px; 
    }
  }