.intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f1e9;
  padding: 80px;
  height: auto;
}

.intro-image img {
  width: 65%;
}

.intro-content {
 margin-left: 10px;
  text-align: justify;
  line-height: 1;

}
.text3-page-about{
  line-height: 2;
}
.intro-title-page-about {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  margin-bottom: 60px;
}

.text2-page-about {
  line-height: 1.2;
}

.slide-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
}
@media screen and (max-width: 768px) {
  .intro-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 14px;
  }

  .intro-image img {
    max-width: 100%;
  }

  .intro-content {
 
    margin: 20px auto;
    
  }

  .intro-title-page-about {
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    padding: 55px;
  }

  .text2-page-about,
  .text3-page-about {
    line-height: 1.6;
  }
  .slide-buttons{
    margin-left: 75px;
  }
}