.next-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
    width: 100%;
    background-color: #f4f1e9;
    height: 600px;
  
}

.polaroid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.polaroid {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  flex-shrink: 0;
}

.polaroid:hover {
  transform: scale(1.1) rotate(10deg);
}
.polaroid-img {
  height: 400px;
  border-radius: 10px;
  width: auto;
}

.quote-container {
  text-align: center;
  margin-top: 20px;
}

.quote {
  font-size: 21px;
  font-style: italic;
  color: #333;
  font-family: "Playfair Display Regular", serif;
  margin-bottom: 5px;
}

.author {
  font-family: "Playfair Display Regular", serif;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  
 
  .polaroid {
    height: 91%;
    width: 70%;
  }
.polaroid-img{

  height: 80%;
}
  .polaroid-caption {
    font-size: 11px; 
  }

  .quote-container {
    margin-right: 0; 
  }

  .quote {
    font-size: 11px; 
  }

  .author {
    font-size: 9px; 
  }

  .polaroid-container {
    flex-direction: column;
    align-items: center; 
    margin-right: 0; 
  }

  .next-section {
    height: 306px;
  }
}