.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f1e9;
    padding: 80px;
    height: auto;
    

  }
  
  .intro-image img {
    width: 65%;
  }
  
  .intro-content {
    max-width: 50%;
    text-align: justify;
    .text2{
      line-height: 2;
      }
  }
  
  .intro-title-page-about {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    margin-bottom: 60px;
  }
  .text2-page-about{
    line-height: 1.2;
  }
 
  .slide-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #000;
  }
  