.projets-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  height: 600px;
  position: relative;
}

.projets-title {
  font-family: "Playfair Display Regular", serif;
  font-size: 85px;
  color: white;
  font-weight: lighter;
  margin-top: 30px; 
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.proj-item {
  width: 30%;
  margin-bottom: 20px;
}

.proj-item img {
  width: 100%;
}

.voir-button {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  background-color: transparent;
  border: none;
  text-decoration: none; 
  cursor: pointer;
  position: absolute;
  margin-left: 1000px;
  margin-top: 400px;
  transition: background-color 0.3s;
}
.voir-button:hover {
  text-decoration: underline;
}
.small-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; 
}

.proj-item1 {
  img {
    width: 30%;
    position: absolute;
    top: 0;
    left:0;
  }
}
.proj-item2{
  img{
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.proj-item3 {

  img {
   
    width: 20%;
    position: absolute;
    top: 0;
    right:0;
    
  }
}