.skills-section {
  display: flex;
  height: 600px;
}

.left-part {
  flex: 3 1;
  background-color: #606250;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: relative;
}

.left-part h1 {
  transform: rotate(-90deg);
  font-family: "Playfair Display", serif;
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin: 0;
  padding: 0;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.center-part {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.center-photo {
  width: 300px;
  height: 329px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-part {
  flex: 6;
  background-color: #f4f1e9;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.right-title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  position:absolute;
  margin-bottom: 490px;
}

.skills-list {
  list-style-type: disc; 
    text-align: left;
    padding-left: 30px; 
    line-height: 1.6; 
    margin-left: 150px;
    margin-right: 100px;
    font-size: 14px;
    text-align: justify;
}

.description {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 20px;
  position: absolute;
  margin-left: 200px;
  margin-right: 40px;
  font-size: 12;
}
.arrow-icon-skills {
  height: 20px; 
  cursor: pointer;
  margin: 0 36px;
  margin-top: 445px;
}
.dot-skills {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 6px;
  cursor: pointer;
}
.dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 450px;
}
.dot-skills.active {
  background-color: #333;
}

@media (max-width: 768px) {
  .right-title {
    font-size: 20px;
    margin-top: 43px;
    text-align: center;
  }

  .center-photo {
    width: 70vw;
    height: 70vw; 
    max-width: 118px;
    max-height: 126px;
  }

  .skills-list {
    font-size: 10px; 
    max-width: 200px; 
  }

  .description {
    font-size: 8px;
    position: absolute;
    margin-left: 90px;
  }

  .dot-skills {
    width: 8px; 
    height: 8px;
    margin: 0 3px; 
  }

  .left-part h1 {
    font-size: 35px;
  }
  
  
  .TitleSkills {
    font-size: 20px;
  }
}