
.about-me-section{
    background-color: #F4F1E9;
    height: 400px;
}
.about-me-title{
    font-family: "Lato", sans-serif;
    font-size: 228px;
    text-align: center;
    padding: 48px;
}


.next-section-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F4F1E9; /* Couleur de fond noire */
  color: black; /* Couleur du texte en blanc */
  padding: 40px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-photo {
  width: 30%;
  height: 29%;
  margin: 20px;
  margin-left: 652px;
}

.description-about {
  margin-right: 600px;
  text-align: justify;
  position: absolute;
  margin-left: 40px;
}

.sie-introduction_0 {
  position: absolute;
  transform: scale(1, 1) translate(0px, 0px) rotate(16deg);
  left: 784px;
  top: 88px;
  width: 309px;
  height: 363px;
}
.ma-autre-photo{
  width: 70%;
  position: absolute;
  bottom: 0;
}
.ma-autre-photo-container {
  position: absolute;
  width: 309px;
  height: 363px;
  transform: scale(1, 1) translate(0px, 0px) rotate(16deg);
  left: 711px;
  top: 151px;
}
.polaroid-container {
  position: absolute;
  width: 309px;
  height: 363px;
  transform: scale(1, 1) translate(0px, 0px) rotate(16deg);
  left: 711px;
  top: 151px;
}

.polaroid-image {
  width: 100%;
  height: 100%;
}

.photo-polaroid{
  margin-bottom: 40px;
  height: 30px;
}