.project-section {
  background-color: #F4F1E9;
  height: 550px;
}

.project-title {
  font-family: "Lato", sans-serif;
  font-size: 228px;
  text-align: center;
  padding: 93px;
}

.next-section {
  width: 100%;
  background-color: #f4f1e9;
  height: auto;
}

.slide-container {
  height: 100%; 
}


  .slide-image {
    height: 200px;
    border-radius: 34px;
    margin-left: 569px;
    position: absolute;
    margin-top: 593px;
}

.slide-text {
  flex: 1;
  padding: 20px;
  text-align: justify;
    margin-right: 100px;
    margin-left: 95px;
}

.slide-text h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Playfair Display Regular", serif;
}

.slide-text p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin-top: 10px; 
  margin-bottom: 33px;
}

.slide {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.slide-item {
  display: flex;
  align-items: center;
  margin-bottom: 170px;
}

// .slide-item .slide-wrapper {
//   display: flex;
// }

.arrow-icon-project {

  height: 40px;
  cursor: pointer;
  margin-right: 6px;
  margin-left: 6px;
}

.arrow-icon:hover {
  transform: scale(1.2);
}

.slide-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 442px;
}

.slide-item {
  width: 100%;
  flex-shrink: 0;
  display: none;
  align-items: center;
  margin-bottom: 170px;
}

.slide-item.active {
  display: flex;
}
.slide-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slide-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active-dot {
  background-color: #333;
}
.project-constraints{
  line-height: 2;
  margin-bottom: 50px;
}
.project-skills{
  line-height: 2;
  ul{
    margin-bottom: 40px;
  }
}
.slide-button {
  border: 2px solid #000; /* Bordure noire */
  background-color: transparent; /* Fond transparent */
  color: #000; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur pointeur au survol */
  transition: background-color 0.3s, color 0.3s; /* Transition d'animation */
}

.slide-button:hover {
  background-color: #000; /* Fond noir au survol */
  color: #fff; /* Couleur du texte blanche au survol */
}
@media screen and (max-width: 768px) {
  .project-title {
    font-size: 66px;
    padding: 60px 10px;
    height: 231px;
  }

  .project-section {
    height: auto;
  }

  .slide-container {
    overflow: hidden;
  }

  .slide {
    flex-direction: column; 
  }

  .slide-item {
    width: 100%;
    flex-shrink: 0;
    display: none;
    margin-bottom: 20px;
  }

  .slide-item.active {
    display: flex;
  }

  .slide-image {
    height: auto;
    width: 80%;
    margin: 12px 37px;
    border-radius: 34px;
  }

  .slide-text {
    text-align: center;
    margin: 20px;
  }

  .slide-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .slide-arrows {
    margin-bottom: 20px;
  }

  .slide-dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
  }

  .slide-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .slide-text p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .project-constraints,
  .project-skills {
    margin: 10px;
  }
  .slide-item .slide-wrapper {
    display: block;
  }
}