@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Montserrat:wght@300;400;700&display=swap');
$white : #fff;
$grey: #C4C4C4;
$lightGrey: #f6f6f6;
$gradientRed: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.5));
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif; 
}

main{
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

  